body{
    background-color: #e4e4e4;
}
.main{
    width: 60%;margin:auto;
    margin-top: 30px;
    margin-bottom:30px;
    background-color: white;
    padding-top: 25px;
    padding-bottom: 70px;
}
#fullname{
    padding-left:4%;
    height: 100px;
    padding-top: 35px;
}
#contact-info{
    float: left;
    width: 80%;
    padding-top: 3%;
    padding-right: 5px;
}
#passport-image{
    float: left;
    width: 20%;
}
.customized{
    width: 95%;
    height: 1px;
    background-color: silver;
}
